# UE4
Binaries/
Saved/
SheepAway.VC.db
Content/StarterContent/
Intermediate/Build/

# Visual Studio 
# User-specific files
#*.suo
#*.user
#*.userosscache
#*.sln.docstates
# cache/options directory
.vs/
